@import '../../../assets/styles/media.scss';

.layout_wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url('../../../assets/images/bg/newt2.png');
	background-repeat: repeat;

	.content_wrapper {
		display: flex;
		flex: 1;
		.content_body {
			width: 0;
			flex: 1;
			display: flex;
			flex-direction: column;
			.content {
				flex: 1;
				padding: 30px;
				padding-top: 120px;
				padding-left: 360px;
				padding-bottom: 0;

				@include for-desktop-down() {
					padding-left: 30px !important;
				}

				.box {
					background: #fff;
					overflow: hidden;
					margin-bottom: 30px;
					border-radius: 0.8rem;
					box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
						0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
						0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
						0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
					.box_content {
						padding: 1.5rem;
					}
				}
			}
		}
	}
}

.ant-table-thead > tr > th {
	font-weight: bold !important;
}

.role__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 8px;
	.ant-list {
		width: 100%;
		.ant-list-items {
			li {
				cursor: pointer;
				&:hover {
					background-color: #fafafa;
				}
				&.ant-list-item {
					cursor: pointer;
					&.active {
						border-left: 5px solid #69c0ff;
					}
				}
			}
		}
	}
}

.fade-in {
	&.fade-in-entering {
		animation: fadein 1.5s;
		-moz-animation: fadein 1.5s; /* Firefox */
		-webkit-animation: fadein 1.5s; /* Safari and Chrome */
		-o-animation: fadein 1.5s; /* Opera */
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	/* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
