@import '../../assets/styles/media.scss';

.upload_container {
	width: 100%;
	height: 168px;
	border: 1px dashed #d9d9d9;
	border-radius: 4px;
	background-color: #fafafa;

	&:hover {
		cursor: pointer;
		border-color: #40a9ff;
	}

	.upload_preview {
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&.light_box {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin-top: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 999;

			img {
				background: #fff;
				max-width: 50%;

				@include for-tablet-landscape-down {
					max-width: 90%;
				}
			}

			&:hover {
				cursor: zoom-out;
			}
		}
		img {
			height: 100% !important;
			object-fit: contain;
		}
		// &:hover {
		// 	cursor: zoom-in;
		// }
	}
}
