@import '../../../../assets/styles/media.scss';

.navigation {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 320px; //May be 380px if you have sub menu
	padding-left: 30px;
	z-index: 999;
	background: none;

	@include for-desktop-down() {
		width: 30%;
		z-index: 1000 !important;
		left: -80% !important;
		top: 0 !important;
		bottom: 0 !important;
		opacity: 0;
		transition: left 0.2s;
		position: fixed !important;
		border-top-right-radius: 0 !important;
		border-right: none !important;
		display: block !important;
		padding: 0 15px !important;
		padding-bottom: 15px !important;
		overflow: auto !important;

		&.open {
			left: 0 !important;
			opacity: 1;
		}
	}

	@include for-tablet-landscape-down() {
		width: 50%;
	}
	@include for-tablet-portrait-down() {
		width: 75%;
	}
	@include for-phone-only {
		width: 85%;
	}

	.navigation_header {
		display: flex;
		align-items: center;
		height: 80px;

		a {
			padding: 10px 0;
			&.navigation_logo {
				flex: 1;
				display: flex;
				align-items: center;
			}
		}
	}
	.navigation_menu_wrapper {
		height: calc(100% - 110px);
		width: 100% !important;
		max-width: 100% !important;
		min-width: auto !important;
		display: flex;
		background-color: #fff;
		flex-direction: column;
		border-radius: 0.8rem;
		box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
			0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
			0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
		overflow: hidden;

		@include for-desktop-down() {
			height: calc(100% - 120px) !important;
		}

		.ant-layout-sider-children {
			display: flex;
			flex-direction: column;
			.ant-menu {
				height: 100%;
			}
		}
	}
}

.overlay {
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	transition: opacity 0.5s;
	display: none;

	&.show {
		opacity: 1;
		display: block;
	}
}
